<?xml version="1.0"?>
 <!--

      Spawns a rfid equipped thorvald in ncfm facilities.
-->

<launch>
  <!-- PARAMS .............................................................. -->

  <env name="ROSCONSOLE_CONFIG_FILE"
    value="$(find mcdm_exploration_framework)/config/custom_rosconsole.conf"/>



  <!-- base bringup-->
  <node pkg="mcdm_exploration_framework" type="pure_navigation" name="ric" output="screen" args="180 3 0.9 0.01 1">

  </node>

</launch>
